.App {
    text-align: center;
    background-color: rgb(35, 35, 35);
    flex-direction: column;
    height: 100%;
    display: flex;
}

.App-header {
    background-color: #100155;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

#nodes-container {
    background: linear-gradient(90deg, #000000bb, #000000bb);

    width: 500px;
    height: calc(100vh - 550px);
}

#canvas-container {
    background: linear-gradient(0deg, #00000099, #00000099);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: solid 1px gainsboro;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px 0;
    width: 80%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

@media (max-width: 1199px) {
    #nodes-container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    #canvas-container, #nodes-container {
        flex: 0 1 50%;
    }

    #nodes-container {
        height: 100%;
    }

    .main {
        flex-direction: row;
    }
}

.fixed-elems {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 10px;
}

.help-icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
}