.help-container {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", sans-serif;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.help-content {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
    opacity: 1;
}

h3 {
    text-align: left;
}

li {
    text-align: left;
}
